---
const {id, image, alt, model, title } = Astro.props;
---
<div class="flex flex-col items-center">
    <a href={id}>
      <img
      class="w-56"
      src={image}
      alt={alt}
      loading="lazy"
      title={title}
    />
    </a>
    <span class="text-lg font-normal">{model}</span>
    <footer class="text-sm">
      <slot name="links">
        <a class="opacity-75 underline border-b-1 mr-3 hover:opacity-100" href="/">Aprender</a>
        <a class="opacity-75 underline border-b-1 hover:opacity-100" href="/">Ordenar</a>
      </slot>
    </footer>
  </div>