---
import LogoTesla from "../svg/LogoTesla.astro";
import IconPerson from "../svg/IconPerson.astro";
import IconGlobe from "../svg/IconGlobe.astro";
import IconHelp from "../svg/IconHelp.astro";
import CardNavBar from "./CardNavBar.astro";
import IconNavBar from "./IconNavBar.astro";
import ButtonNavBar from "./ButtonNavBar.astro";
import LinksRightCar from "./LinksRightCar.astro";
import LinksDescubrir from "./LinksDescubrir.astro";
import { vehiculos } from "../js/vehiculos";
import { Image } from "astro:assets";
---

<header
  id="landing-header"
  class="animate-fade-down flex justify-center items-center w-[99.5%] absolute z-40 min-h-[72px]"
>
  <nav
    class="flex items-center justify-between py-2 px-12 w-full max-w-[1920px] max-sm:px-6"
  >
    <picture class="flex w-[120px] h-[32px]">
      <LogoTesla id="logoTesla" class="w-full h-full fill-current" />
    </picture>

    <ul id="contentNav" class="flex group text-center max-xl:hidden">
      <ButtonNavBar id="linkVehiculos" content="Vehiculos" />
      <ButtonNavBar id="linkEnergia" content="Energia" />
      <ButtonNavBar id="linkCarga" content="Carga" />
      <ButtonNavBar id="linkDescubrir" content="Descubrir" />
      <ButtonNavBar id="linkTienda" content="Tienda" />
    </ul>

    <ul class="flex items-center gap-4 max-xl:hidden">
      <IconNavBar target="" href="#contact">
        <IconHelp class="fill-current icon w-6" />
      </IconNavBar>
      <IconNavBar href="/">
        <IconGlobe class="fill-current icon w-6" />
      </IconNavBar>
      <IconNavBar target="_blank" href="https://auth.tesla.com/en_us/oauth2/v1/authorize?redirect_uri=https%3A%2F%2Fwww.tesla.com%2Fteslaaccount%2Fowner-xp%2Fauth%2Fcallback&response_type=code&client_id=ownership&scope=offline_access%20openid%20ou_code%20email%20phone&audience=https%3A%2F%2Fownership.tesla.com%2F&locale=en-US">
        <IconPerson class="fill-current icon w-6" />
      </IconNavBar>
    </ul>

    <button
      id="menu"
      class="xl:hidden backdrop-blur-3xl rounded-sm px-4 py-1 text-sm text-black bg-white/40"
    >
      Menu
    </button>
  </nav>
</header>

<div
  id="menuhidden"
  class="bg-white w-full h-max fixed -translate-y-full right-0 z-10 transition-all duration-500"
>
  <div id="content" class="w-full">
    <div id="empty" class="w-full flex gap-16 py-[88px] px-64 max-2xl:px-28">
    </div>

    <div id="contentVehiculos" class="w-full hidden">
      <div
        class="grid place-content-center gap-10 grid-cols-auto-nav w-full mt-10"
      >
        {
          vehiculos.map(({ id, alt, title, model, image }) => {
            return (
              <CardNavBar
                href={id}
                alt={alt}
                title={title}
                model={model}
                image={image}
              />
            );
          })
        }

        <CardNavBar
          href="/"
          alt="Ayúdame a elegir"
          title="Ayúdame a elegir"
          model="Ayúdame a elegir"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Vehicles-HMC-RedBlue-LHD.png"
        >
          <slot slot="links">
            <a
              class="opacity-75 underline border-b-1 hover:opacity-100"
              href="/">Empezar</a
            >
          </slot>
        </CardNavBar>
      </div>
      <span class="h-64 w-[1px] bg-black/10"></span>
      <div class="flex w-[30%] text-black/80 flex-col gap-2 font-medium mt-2">
        <LinksRightCar href="/" content="Inventario" />
        <LinksRightCar href="/" content="Autos Usados" />
        <LinksRightCar href="/" content="Unidad de Demostración" />
        <LinksRightCar href="/" content="Intercambio" />
        <LinksRightCar href="/" content="Comparar" />
        <LinksRightCar href="/" content="¿Como cargar?" />
        <LinksRightCar href="/" content="Flotante" />
        <LinksRightCar href="/" content="Semi" />
        <LinksRightCar href="/" content="Coche de Turismo" />
      </div>
    </div>

    <div id="contentEnergia" class="w-full hidden">
      <div class="grid place-content-center grid-cols-auto-nav w-full mt-10">
        <CardNavBar
          href="/"
          alt="Paneles Solares"
          title="Paneles Solares"
          model="Paneles Solares"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Solar-Panels.png"
        />

        <CardNavBar
          href="/"
          alt="Tejado Solar"
          title="Tejado Solar"
          model="Tejado Solar"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Solar-Panels.png"
        />

        <CardNavBar
          href="/"
          alt="Pared Electrica"
          title="Pared Electrica"
          model="Pared Electrica"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Powerwall-US.png"
        />

        <CardNavBar
          href="/"
          alt="Mega Pack"
          title="Mega Pack"
          model="Mega Pack"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Megapack.png"
        />
      </div>
      <span class="h-64 w-[1px] bg-black/10"></span>
      <div class="flex w-[30%] text-black/80 flex-col gap-2 font-medium mt-2">
        <LinksRightCar href="/" content="Programe una consulta" />
        <LinksRightCar href="/" content="¿Por qué energía solar?" />
        <LinksRightCar href="/" content="Incentivos" />
        <LinksRightCar href="/" content="Apoyo" />
        <LinksRightCar href="/" content="Asóciese con Tesla" />
        <LinksRightCar href="/" content="Comercial" />
        <LinksRightCar href="/" content="Utilidades" />
      </div>
    </div>

    <div id="contentCarga" class="w-full hidden">
      <div class="grid place-content-center grid-cols-auto-nav w-full mt-10">
        <CardNavBar
          href="/"
          alt="Cargar"
          title="Cargar"
          model="Cargar"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Charging-Charging.png"
        />

        <CardNavBar
          href="/"
          alt="Carga en Casa"
          title="Carga en Casa"
          model="Carga en Casa"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Charging-Home-Charging.png"
        />

        <CardNavBar
          href="/"
          alt="Sobrealimentación"
          title="Sobrealimentación"
          model="Sobrealimentación"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Charging-Supercharging-NA.png"
        />
      </div>
      <span class="h-64 w-[1px] bg-black/10"></span>
      <div class="flex w-[30%] text-black/80 flex-col gap-2 font-medium mt-2">
        <LinksRightCar href="/" content="Ayúdame a Cargar" />
        <LinksRightCar href="/" content="Calculadora de Carga" />
        <LinksRightCar href="/" content="Cargar con NACS" />
        <LinksRightCar href="/" content="Votación Sobrealimentador" />
        <LinksRightCar href="/" content="Pedir un Supercargador" />
        <LinksRightCar href="/" content="Carga Comercial" />
        <LinksRightCar href="/" content="Conectores de Pared" />
      </div>
    </div>

    <div id="contentDescubrir" class="w-full hidden">
      <div class="grid place-content-center grid-cols-auto-nav w-full">
        <div class="w-full mt-10 grid place-items-start justify-center">
          <span class="mb-3 text-black/75">Recursos</span>
          <LinksDescubrir linkName="Unidad de Demostración" />
          <LinksDescubrir linkName="Seguro" />
          <LinksDescubrir linkName="Guías de Video" />
          <LinksDescubrir linkName="Historias de Clientes" />
          <LinksDescubrir linkName="Eventos" />
        </div>

        <div class="w-full mt-10 grid place-items-start justify-center">
          <span class="mb-3 text-black/75">Servicios de localización</span>
          <LinksDescubrir linkName="Encuéntranos" />
          <LinksDescubrir linkName="Encuentre un centro de colisión" />
          <LinksDescubrir linkName="Encuentre un instalador certificado" />
        </div>

        <div class="w-full mt-10 grid place-items-start justify-center">
          <span class="mb-3 text-black/75">Compañía</span>
          <LinksDescubrir linkName="Acerca de" />
          <LinksDescubrir linkName="Carreras" />
          <LinksDescubrir linkName="Relaciones con inversionistas" />
        </div>
      </div>
    </div>

    <div id="contentTienda" class="w-full hidden">
      <div class="grid place-content-center grid-cols-auto-nav w-full mt-10">
        <CardNavBar
          href="/"
          alt="Cargar"
          title="Cargar"
          model="Cargar"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Charging.png"
        >
          <slot slot="links" />
        </CardNavBar>
        <CardNavBar
          href="/"
          alt="Accesorios para vehículos"
          title="Accesorios para vehículos"
          model="Accesorios para vehículos"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Vehicle-Accessories.png"
        >
          <slot slot="links" />
        </CardNavBar>
        <CardNavBar
          href="/"
          alt="Vestir"
          title="Vestir"
          model="Vestir"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Apparel.png"
        >
          <slot slot="links" /></CardNavBar
        >
        <CardNavBar
          href="/"
          alt="Estilo de Vida"
          title="Estilo de Vida"
          model="Estilo de Vida"
          image="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Lifestyle.png"
        >
          <slot slot="links" /></CardNavBar
        >
      </div>
    </div>

    <script>
      const links = document.querySelectorAll("nav ul li button");
      const icons = document.querySelectorAll(".icon");
      const menuHidden = document.querySelector("#menuhidden");
      const logoTesla = document.querySelector("#logoTesla");
      const body = document.querySelector("#body");
      const main = document.querySelector("#main");
      const containerHero = document.querySelector("#containerHero");
      const contentVehiculo = document.querySelector("#contentVehiculos");
      const contentEnergia = document.querySelector("#contentEnergia");
      const contentCarga = document.querySelector("#contentCarga");
      const contentDescubrir = document.querySelector("#contentDescubrir");
      const contentTienda = document.querySelector("#contentTienda");
      const contentEmpty = document.querySelector("#empty");
      const $header = document.querySelector("#landing-header") as HTMLElement;

      const observerOptions = {
        root: null,
        rootMargin: "0px",
        threshold: 0.5,
      };

      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          const { isIntersecting } = entry;
          if (isIntersecting) {
            let color = entry.target.getAttribute("data-header-color");
            $header.style.color = color;
            if ((color = "white")) {
              links.forEach((link) => {
                link.addEventListener("mouseover", () => {
                  if (link.getAttribute("id") === "linkVehiculos") {
                    contentEmpty.innerHTML = contentVehiculo.innerHTML;
                  } else if (link.getAttribute("id") === "linkEnergia") {
                    contentEmpty.innerHTML = contentEnergia.innerHTML;
                  } else if (link.getAttribute("id") === "linkCarga") {
                    contentEmpty.innerHTML = contentCarga.innerHTML;
                  } else if (link.getAttribute("id") === "linkDescubrir") {
                    contentEmpty.innerHTML = contentDescubrir.innerHTML;
                  } else if (link.getAttribute("id") === "linkTienda") {
                    contentEmpty.innerHTML = contentTienda.innerHTML;
                  }
                  containerHero.classList.add(
                    "backdrop-blur-[4px]",
                    "blur-[4px]"
                  );
                  menuHidden.classList.remove("-translate-y-full");
                  body.classList.add("overflow-hidden");
                  logoTesla.classList.remove("fill-current");
                  logoTesla.classList.add("fill-black");

                  icons.forEach((icon) => {
                    icon.classList.remove("fill-current");
                    icon.classList.add("fill-black");
                  });

                  links.forEach((link) => {
                    link.classList.remove("text-current");
                    link.classList.add("text-black");
                  });
                });
              });
            }
          }
        });
      }, observerOptions);

      const $sections = document.querySelectorAll(".landing-section");

      $sections.forEach((section) => observer.observe(section));

      // ----

      links.forEach((link) => {
        link.addEventListener("click", () => {
          menuHidden.classList.remove("-translate-y-full");
        });
      });

      main.addEventListener("mouseover", () => {
        links.forEach((link) => {
          link.classList.add("text-current");
        });
        icons.forEach((icon) => {
          icon.classList.add("fill-current");
        });
        containerHero.classList.remove("backdrop-blur-[4px]", "blur-[4px]");
        logoTesla.classList.add("fill-current");
        menuHidden.classList.add("-translate-y-full");
        body.classList.remove("overflow-hidden");
      });
    </script>
  </div>
</div>
