---
import ButtonPrimary from "./ButtonPrimary.astro";

const { title, subtitle, description, colorHeader} = Astro.props;
---

<section
  data-header-color={colorHeader}
  class=`${Astro.props.class} landing-section snap-center w-full h-screen bg-cover bg-center flex flex-col items-center relative`
>
  <header id="titleSection" class="absolute top-[156px] max-2xl:top-[60px] max-sm:top-[116px] text-center">
    <slot name="svg" />
    <h2
      class=`text-[40px] max-sm:text-[34px] font-medium leading-tight text-black ${Astro.props.colorTitle}`
    >
      {title}
    </h2>
    <span class="text-[20px] max-sm:text-[16px] font-medium text-black">{subtitle}</span>
    <p class=`${Astro.props.colorDescription} text-xs max-sm:text-[10px] text-black/80`>
      {description}
    </p>
  </header>
  <footer class="absolute bottom-28 flex flex-wrap gap-4 px-12 max-sm:px-6 max-sm:bottom-12">
    <slot name="button">
      <ButtonPrimary
        href="/"
        class="bg-white/90 text-black/90"
        content="Pedir Ahora"
      />

      <ButtonPrimary
        href="/"
        class="bg-black/60 text-white"
        content="Unidad de demostración"
      />
    </slot>
  </footer>
</section>
